.blurred-ball {
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  filter: blur(120px);
  z-index: -1;

  &--green {
    @extend .blurred-ball;
    background-color: var(--green-blur);
  }
  &--blue {
    @extend .blurred-ball;
    background-color: var(--blue-blur);
  }
  &--darkBlue {
    @extend .blurred-ball;
    background-color: var(--darkBlue-blur);
  }
  &--yellow {
    @extend .blurred-ball;
    background-color: var(--yellow-blur);
  }
  &--orange {
    @extend .blurred-ball;
    background-color: var(--orange-blur);
  }
  &--lime {
    @extend .blurred-ball;
    background-color: var(--lime-blur);
  }
}
