$button-height-normal: 4.5rem;
$button-height-small: 3.4rem;

.button {
  transition: border-color 0.5s ease, background-color 0.7s ease;
  color: var(--white);

  &,
  &:link,
  &:visited {
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 10rem;

    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    // buttons with arrow icon
    gap: 0.5rem;
  }

  &--rounded {
  }

  &--white {
    @extend .button;
    height: $button-height-small;
    padding: 0.8px 1.6rem;
    border: 1px solid var(--white) !important;
    background-color: var(--transparent-white);
    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

  &--green {
    @extend .button;
    height: $button-height-normal;
    padding: 1.2px 2.4rem;
    background-color: var(--primary);

    &-rounded {
      @extend .button--green;
      height: 4.8rem;
      width: 4.8rem;
      padding: 0;
      border-radius: 50%;
    }

    &-dark {
      @extend .button--green;
      background-color: var(--primary-dark);

      &-rounded {
        @extend .button--green-dark;
        height: 4.8rem;
        width: 4.8rem;
        padding: 0;
        border-radius: 50%;
      }
    }
  }

  &--bordered {
    @extend .button;
    height: $button-height-normal;
    padding: 1.2px 2.4rem;
    color: var(--primary-dark);
    background-color: var(--white);
    border: 1px solid var(--primary-dark) !important;

    &-rounded {
      @extend .button--bordered;
      height: 4.8rem;
      width: 4.8rem;
      padding: 0;
      border-radius: 50%;
    }

    &-light {
      @extend .button--bordered;
      background-color: var(--primary-light);

      &-rounded {
        @extend .button--bordered-light;
        height: 4.8rem;
        width: 4.8rem;
        padding: 0;
        border-radius: 50%;
      }
    }
  }

  &--light-green {
    @extend .button;
    height: $button-height-normal;
    padding: 1.2px 2.4rem;
    color: var(--primary-dark);
    background-color: var(--primary-light);
    border: none;
  }
}
