.cookies {
  position: fixed;
  bottom: 2.4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 46.5rem;
  max-width: 46.5rem;
  height: 5.6rem;
  padding: 1.6rem 4rem;
  background-color: var(--primary-light);

  display: flex;
  align-items: center;
  border-radius: 2.8rem;
  gap: 1.2rem;

  p {
    color: var(--primary-dark);
    margin-right: auto;
  }
}
