.locationInput {
  display: flex;
  align-items: center;
  border: 1px solid var(--grey1);
  border-radius: 4px;
  overflow: hidden;
  padding: 0.3rem 0.3rem 0.3rem 2.5rem;
  border-radius: 2.8rem;

  background-color: var(--white);

  &__input {
    border: none;
    padding: 8px;
    flex: 1;
    outline: none;

    &::placeholder {
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 2.2rem;
    }
  }
}
