@use "../util/variables.scss" as v;
@use "../util/mixins.scss" as m;

.suscribe {
  padding: 0 v.$global-padding;

  &__container {
    @include m.body-container-width;
    margin-bottom: 12rem;
    border-radius: 3.2rem;
    height: 31rem;

    background-image: url(/images/suscribe/container_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: grid;
    grid-template-columns: auto 1fr auto;
    text-align: center;
  }
  &__title {
    margin: 0 auto 3rem auto;
    max-width: 70rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__imageComp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 4rem;
    column-gap: 2.5rem;

    &--left {
      @extend .suscribe__imageComp;
      .leftimageComp__img {
        object-fit: cover;
        border: 2px solid var(--white);
        &--1 {
          @extend .leftimageComp__img;
          width: 8.1rem;
          max-width: 8.1rem;
          height: 8.1rem;
          border-radius: 2.4rem;
        }
        &--2 {
          @extend .leftimageComp__img;
          justify-self: center;
          align-self: center;
          width: 3.6rem;
          max-width: 3.6rem;
          height: 3.6rem;
          border-radius: 50%;
        }
        &--3 {
          @extend .leftimageComp__img;
          justify-self: center;
          width: 3.6rem;
          max-width: 3.6rem;
          height: 3.6rem;
          border-radius: 50%;
        }
        &--4 {
          @extend .leftimageComp__img;
          justify-self: center;
          width: 5.4rem;
          max-width: 5.4rem;
          height: 5.4rem;
          border-radius: 2.4rem;
        }
      }
    }
    &--right {
      @extend .suscribe__imageComp;
      .rightimageComp__img {
        object-fit: cover;
        border: 2px solid var(--white);
        &--1 {
          @extend .rightimageComp__img;
          width: 8.1rem;
          max-width: 8.1rem;
          height: 8.1rem;
          border-radius: 2.4rem;
        }
        &--2 {
          @extend .rightimageComp__img;
          justify-self: center;
          align-self: end;
          width: 3.6rem;
          max-width: 3.6rem;
          height: 3.6rem;
          border-radius: 50%;
        }
        &--3 {
          @extend .rightimageComp__img;
          justify-self: center;
          width: 3.6rem;
          max-width: 3.6rem;
          height: 3.6rem;
          border-radius: 50%;
        }
        &--4 {
          @extend .rightimageComp__img;
          justify-self: center;
          align-self: end;
          width: 5.4rem;
          max-width: 5.4rem;
          height: 5.4rem;
          border-radius: 2.4rem;
        }
      }
    }
  }
}
