@use "../util" as *;
@use "../util/mixins.scss" as m;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--white);
  font-family: var(--font-default);
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 300;
}

.text-body-medium {
  font-weight: 500;
}

.text-body-bold {
  font-weight: 600;
}

h1,
h2,
h3,
h4 {
  color: var(--black);
  text-transform: capitalize;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
}

h2 {
  font-size: 3.2rem;
  font-weight: 600;
}

h3 {
  font-size: 2.4rem;
  font-weight: 500;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
}

.subtitle {
  color: var(--black);
  font-size: 1.8rem;
  font-weight: 500;
}

.label {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--white);
  &--small {
    @extend .label;
    font-size: 1.2rem;
  }
  &--medium {
    @extend .label;
    font-weight: 500;
  }
  &--bold {
    @extend .label;
    font-weight: 600;
  }
}

.section-label {
  position: relative;
  span.line {
    content: "";
    height: 2px;
    width: 3.2rem;
    background-color: var(--secondary);
    position: absolute;
    top: 30%;
    left: -4rem;
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
