:root {
  --white: #fff;
  --transparent-white: rgba(255, 255, 255, 0.1);
  --grey1: #e0e3eb;
  --grey2: #888b97;
  --grey3: #626687;
  --black: #1b1c57;
  --gradient: #0c1537;

  --primary: #10b981;
  --primary-dark: #0b9567;
  --primary-light: #d1fae5;
  --secondary: #f59e0b;

  --danger: #ef4444;
  --danger-light: #fee2e2;
  --info: #1d4ed8;
  --info-light: #dbeafe;

  --green-blur: rgba(130, 255, 209, 0.7);
  --blue-blur: rgba(130, 247, 255, 0.73);
  --yellow-blur: rgba(255, 251, 130, 0.736);
  --orange-blur: rgba(255, 153, 130, 0.705);
  --lime-blur: rgba(200, 255, 130, 0.7);
}
